include README.rst
include CHANGES.rst
include LICENSE
include CONTRIBUTORS
include COPYRIGHT
include MANIFEST.in

recursive-include docs *
prune docs/build
prune docs/api

recursive-include demo *
recursive-exclude demo *.egg *.db *.po
prune demo/LDAPAuth.egg-info
prune demo/ez_setup

global-exclude *~ *.pyc
